{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	{% block title %}
  <title>InfoTweet</title>
  {% endblock %}
   	<link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1573563cb.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light text-black stroke">
        <div class="container">
          <a class="navbar-brand nb xdisplay-4" href="/">InfoTwT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              {% if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="#nuin">Bleh</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Follow Us</a>
              </li>
            </ul>
            {% if user.is_authenticated %}  
            <div class="d-flex align-items-center">
              <img class="rounded-circle px-3 me-2" src="{{ current_user.profile_image_url }}" style="width:60px; height:30px">
              <a class="shm" href="{% url 'twitter_logout' %}">LOGOUT</a>
            </div>
            {% endif %}
        </div>
        </div>
    </nav>


    <div class="container messages" id="messagesx">
      <div class="row mb-2 mt-2 p-2">
        <div class="col-12 text-center">
          {% if messages %}
          <ul class="messages" id="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% block main %}

    {% endblock %}

    {% block contact %}

    {% endblock %}

    <div class="sticky-bottom pt-5 footer" id="footer">
        <p class="footer-attr text-center">Made with <i style="color: red;" class="fa-solid fa-heart"></i> by <a href="https://www.twitter.com/__oemmanuel__">Emmanuel</a> <span class="sep">|</span> &copy {% now 'Y' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
    <script type="text/javascript">
        document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>