{% extends 'base.html' %}


{% block title %}
<title>InfoTweet | {{ user }}</title>
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="display-6">Hello, {{ user }} </h5>
                    <div class="profile-card">
                        {% if not current_user.profile_image_urll %}
                            <img src="{{ current_user.profile_image_url }}" class="img img-fluid">
                        {% else %}
                            <img src="{{ current_user.profile_image_url }}" class="img img-fluid">
                        {% endif %}
                        <div class="profile-name">{{ current_user.screen_name }}</div>
                        <div class="profile-username">@{{ current_user.name }}</div>
                    </div>
            </div>
        </div>
        <div class="row text-center pt-4" style="margin: 3rem auto;">
            <div class="col-12">
                <form method="GET" id="search-form" hx-get="{% url 'search_tweets' %}" hx-target="#search-results" hx-swap="outerHTML">
                    {% csrf_token %} 
{{ form }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>                
            </div>
        </div>
        {% include 'results.html' %}
    </div>

{% endblock %}




















